@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.what-section{
    max-width: 1140px;
    /* border: 2px solid red; */
    margin-left: auto;
    margin-right: auto;
   
}
.main-heading{

    width: 167px;
    height: 47px;
    color: rgb(24, 24, 24);
    font-family: sans-serif;
    font-size: 35px;
    font-weight: 700;
    /* border: 1px solid green; */
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10px;
    


}
.main-subtitle{
    width: 909px;
    height: 90px;
    color: rgb(117, 117, 117);
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10px;
    

}
.container{
   
    display: flex;
    justify-content: center;

    gap: 24px;
    

}
.skills{
    width: 267px;
    height: 377px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
    


}
.skills-description{
    width: 204px;
    height: 196px;
    /* border: 1px solid gray; */
    margin: 30px;

}
.skills img{
    margin-left:33px ;
}
.skills-description h3{
    width: 174px;
    /* height: 27px; */
    color: rgb(24, 24, 24);
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 700;

}
.skills-description p{
    width: 201px;
    /* height: 196px; */
    color: rgb(117, 117, 117);
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;

}
@media screen and (max-width:576px) {
    .main-heading, .main-subtitle{
        height: 100%;
        width: 100%;
    
    }
    .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
       
     
    }
    
}
/* 
@media screen and (min-width:576px) and (max-width:992px) {
    .main-heading, .main-subtitle{
        height: 100%;
        width: 100%;
    
    }
    .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
       
     
    }
     */
/* } */
/* booooom    */
.ressume{
    
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    

}
.section-title{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}
.resume-container {
    display: flex;
    gap: 24px;
}
.experience-description {
    color: #757575;
    margin-right: 90px;
}
.experience-sub-title {
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.experience-title {
    font-size: 25px;
    color: #474747;
    font-weight: bold;
    margin-bottom: 10px;
}
.resume-column-title {
    font-size: 30px;
    color: #474747;
    font-weight: bold;
    margin-bottom: 30px;
}
hr {
    margin: 30px 0px;
}
.resume-cv {
    margin-top: 50px;
    text-align: center;
}
@media screen and (max-width:576px) {
    .resume-container{
        flex-direction: column;
    }
    
}